/* 프리텐다드 폰트  */

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}

/* 잘난체 폰트 */
@font-face {
  font-family: "YeogiOttaeJalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
/* 노멀라이즈 시작 */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

/* 노멀라이즈 끝 */

/* 포인트로 줄 폰트 */
.point-font {
  font-family: "YeogiOttaeJalnan", sans-serif;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
/* html 기본 설정 */
html {
  font-family: "pretendard", sans-serif;
  font-size: max(0.52083333vw, 10px);
  overflow-x: hidden;
}
body {
  background-color: var(--main-background);
  color: var(--text-color);
}

/* 예약폼 시작 */

.fixed-reserve-btn {
  position: fixed;
  bottom: 10rem;
  right: 3rem;
  z-index: 9999;
}
.fixed-reserve-btn img {
  width: 9rem;
  height: 9rem;
}
/* 예약폼 끝 */
/* header 시작 */
.mobile-header {
  display: none;
}
.dim-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99998;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.dim-overlay.active {
  opacity: 1;
  visibility: visible;
}

.header {
  width: 100%;
  height: 8rem;
  font-size: 1.8rem;
  position: fixed;
  top: 0;
  transition: all 0.2s;
  z-index: 9999;
  background-color: #fff;
}
.top-bar {
  width: 100%;
  box-sizing: border-box;
  padding: 0 12rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
#menu_bg {
  width: 100%;
  height: 20rem;
  position: absolute;
  z-index: 1;
  top: 8rem;
  background-color: #fff;
}
.top-bar > .menu {
  width: 55rem;
  height: 100%;
  z-index: 1;
}

.language-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: 1.6rem;
  border: 1px solid #ad7252;
  height: 4rem;
  width: 10.3rem;
}
.language-box a {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1rem;
  color: #ad7252;
}
.top-bar nav > ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.top-bar ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-bar nav > ul > li {
  height: 100%;
}

.top-bar ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: #ac753e;
  font-weight: 500;
}
.top-bar ul li ul {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 9rem;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  height: 18.6rem;
}
.top-bar ul li ul li a {
  display: block;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.6;
}
.top-bar ul li ul li a:hover {
  opacity: 1;
}
.sidebar-menu {
  display: none;
  opacity: 0;
  visibility: hidden;
}
/* header 끝 */

/* 섹션 1 시작 */
.section-1 {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 11rem;
}
.section-1 .section-1-grid {
  overflow-x: hidden;
  max-width: var(--maxwidth);
}
.section-1-swiper {
  width: 100%;
  height: 81rem;
  border-radius: 10rem;
  overflow: hidden;
  position: relative;
}

.section-1-swiper .swiper-slide img {
  object-fit: cover;
}
.section-1-swiper .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5);
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 6px;
  border-radius: 50%;
  /* transition: all 0.3s; */
  opacity: 1;
}

.section-1-swiper .swiper-pagination-bullet-active {
  background: #fff;
  width: 4rem;
  border-radius: 2rem;
}

/* 섹션 1 끝 */

/* 섹션 2 시작 */
.section-2 {
  padding: 15rem 0;
}
.section-2 .section-2-title-box {
  text-align: center;
  color: var(--point-text-color);
  padding-bottom: 2.4rem;
}
.section-2 .section-2-title-box h2 {
  font-size: 6.4rem;
}
.section-2 .tab_menu {
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
.section-2 .tab_menu .space-left {
  width: 14.1rem;
}
.section-2 .tab_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-2 .tab_list-1,
.section-2 .tab_list-2,
.section-2 .tab_list-3 {
  color: #111111;
  font-size: 24px;
  font-weight: 500;
  padding: 8px 29px 8px 29px;
}

.section-2 .tab_btn li {
  position: relative;
}

.section-2 .tab_btn li a {
  display: inline-block;
  padding: 8px 29px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #111;
  position: relative;
  z-index: 2;
  text-align: center;
}

.section-2 .tab_btn li::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 141px;
  height: 68px;
  background-position: center;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.section-2 .tab_btn li.active::before {
  background-image: url("/img/sec_2/tab_button.png");
  opacity: 1;
}

.section-2 .tab_btn li.active a {
  color: #f4ede4;
}
.section-2-button-box {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-2-button-box > .section-2-button {
  position: relative;
}
.section-2-button span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 2rem;
  font-weight: 500;
  transition: all 0.3s;
}
.section-2-button:hover span {
  color: #f4ede4;
}
.section-2-button-box .hover-img {
  opacity: 0;
  position: absolute;
  top: -10px;
  left: 1px;
  transform: scaleY(0.4);
  transition: transform 0.3s, opacity 0.2s 0.1s;
  transform-origin: top;
}
.section-2-button:hover .hover-img {
  opacity: 1;
  transform: scaleY(1);
  transition: transform 0.3s;
}
.section-2-swiper-wrap {
  display: none;
  margin-top: 3.6rem;
}

.section-2-swiper-wrap.active {
  display: block;
}

.section-2-swiper {
  max-width: 150rem;
  margin: 0 auto;
}

.section-2-swiper .swiper-slide {
  text-align: center;
  width: 35.7rem;
}

.section-2-swiper p {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.section-2-swiper span {
  font-size: 2rem;
  font-weight: 600;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
/* 섹션 2 끝 */
/* 섹션 3 시작 */
.section-3 {
  padding: 15rem 0;
}
.section-3 .mobile-box {
  display: none;
}
.section-3-box {
  display: flex;
  gap: 2rem;
}
.section-3 .left-content {
  width: 102rem;
  height: 96.2rem;
}
.section-3 .right-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-3 .right-card-top {
  display: flex;
  gap: 2rem;
}
.section-3 .right-card-bottom {
  display: flex;
  gap: 2rem;
}
.section-3 .right-card-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 42rem;
  height: 47.3rem;
  box-sizing: border-box;
  padding-left: 3rem;
}
.section-3 .right-card-1 .arrow-box {
  display: flex;
  gap: 3rem;
}
.section-3 .right-card-1 h2 {
  font-size: 5.8rem;
  color: var(--point-text-color);
}
.section-3 .right-card-1 .right-card-1-text-1 {
  font-size: 1.8rem;
}
.section-3 .right-card-1 .right-card-1-text-2 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #a5806c;
  padding-top: 1.2rem;
  padding-bottom: 2rem;
}
.section-3 .right-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 42rem;
  height: 47.3rem;
  border-radius: 3.6rem;
  transition: all 0.3s;
}
.section-3 .right-card:hover {
  background-color: #fef4e4;
}
.section-3 .right-card:hover p {
  color: #ad7252;
}
.section-3 .right-card p {
  font-size: 2rem;
  font-weight: 600;
  padding: 2.2rem 0;
}
.section-3 .right-content {
  display: none;
}
.section-3 .right-content.is-active {
  display: flex;
}
/* 섹션 3 끝 */
/* 디바이더 1 시작 */
.divider-1 {
  position: relative;
}
.divider-1 .text-marquee-box {
  width: 100%;
  overflow-x: hidden;
}
.divider-1 .marquee-top {
  display: flex;
  gap: 2rem;
  width: max-content;
  animation: marquee 30s linear infinite;
}
.divider-1 .marquee-top span {
  font-size: 6.4rem;
  color: transparent;
  -webkit-text-stroke: 1px #ad7252;
}
.divider-1 .marquee-bottom {
  display: flex;
  gap: 2rem;
  width: max-content;
  animation: marquee 30s linear infinite;
  animation-direction: reverse;
}
.divider-1 .marquee-bottom span {
  font-size: 6.4rem;
  color: #dab885;
}
.divider-1 .divider-1-back {
  position: absolute;
  left: -10%;
  top: -100%;
  background-color: #ffefd7;
  width: 64.8rem;
  height: 64.8rem;
  border-radius: 50%;
  opacity: 0.6;
  z-index: -1;
  filter: blur(1rem);
}
/* 디바이더 1 끝 */
/* 섹션 4 시작 */
.section-4 {
  padding: 20rem 0;
}
.section-4 .sec-4-title {
  text-align: center;
  padding-bottom: 5rem;
  color: var(--point-text-color);
}
.section-4 .sec-4-title h2 {
  font-size: 6.4rem;
}
.section-4 .event-swiper {
  display: none;
}
.section-4 .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.section-4 .event-page {
  display: flex;
  gap: 2.4rem;
}
.section-4 img {
  width: 35.7rem;
  height: 41.9rem;
  z-index: 1;
  transition: all 0.3s;
}
.section-4 .img-card-box {
  position: relative;
}
.section-4 .img-card-box::before {
  cursor: pointer;
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.3s;
  z-index: 0;
}
.section-4 .img-card-box:hover::before {
  background-color: #3c3c3c90;
  border-radius: 0.7rem;
}
.section-4 .img-card-box:hover .hover-text {
  opacity: 1;
}
.section-4 .img-card-box:hover img {
  border-radius: 0.7rem;
}
.section-4 .hover-text {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s;
  z-index: 1;
}
.section-4 .hover-text p {
  font-size: 1.8rem;
  font-weight: 500;
  color: #f4ede4;
}
/* 섹션 4 끝 */
/* 디바이더 2 시작 */

.divider-2 .divider-2-pc {
  width: 100%;
  height: 23rem;
}
.divider-2 .divider-2-tablet {
  width: 100%;
  height: 12.8rem;
  display: none;
}
.divider-2 .divider-2-mobile {
  width: 100%;
  height: 8rem;
  display: none;
}

/* 디바이더 2 끝 */

/* 섹션 5 시작 */
.section-5 {
  padding: 15rem 0;
}
.section-5 .sec-5-title {
  text-align: center;
  padding-bottom: 5rem;
  color: var(--point-text-color);
}
.section-5 .sec-5-title h2 {
  font-size: 6.4rem;
}
.section-5 .marquee-box {
  width: 100%;
  overflow-x: hidden;
}
.section-5 .marquee-track {
  display: flex;
  gap: 2.4rem;
  width: max-content;
  animation: marquee 30s linear infinite;
}
.section-5 .marquee-box:hover .marquee-track {
  animation-play-state: paused;
}
.section-5 img {
  width: 29rem;
  height: 29rem;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* 섹션 5 끝 */
/* 섹션 디바이더 3 시작 */

.divider-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.8rem;
  padding: 20rem 0;
}
.divider-3 > h2 {
  font-size: 6.4rem;
  line-height: 1.5;
  color: var(--point-text-color);
}
.divider-3 > p {
  font-size: 3.2rem;
  line-height: 1.5;
  color: #be9267;
}
.divider-3 .back-1 {
  position: absolute;
  right: 42.8rem;
  bottom: 7rem;
  background-color: #ffefd7;
  width: 45rem;
  height: 45rem;
  border-radius: 50%;
  opacity: 0.6;
  z-index: -1;
  filter: blur(1rem);
  animation: up 1s ease-in-out infinite;
}
.divider-3 .back-2 {
  position: absolute;
  right: 22.5rem;
  bottom: 26rem;
  background-color: #ffefd7;
  width: 32rem;
  height: 32rem;
  border-radius: 50%;
  opacity: 0.6;
  z-index: -2;
  filter: blur(1rem);
  animation: up 1s ease-in-out infinite;
}
/* 키프레임 */

@keyframes up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(0);
  }
}
/* 섹션 디바이더 3 끝  */
/* 풋터 시작 */

/* 풋터 시작 */
footer {
  color: #f2ebe1;
  border-radius: 10rem 10rem 0 0;
  background-color: #8f6047;
  display: flex;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;
}
.footer-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-title-box {
  padding-bottom: 1.6rem;
}
.footer-title-box p {
  font-size: 2rem;
  font-weight: 600;
}
.footer-middle-box {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.6rem;
}
.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 1.6rem;
}
.icon-box .fa-kakao-talk {
  font-size: 2rem;
}
.icon-box .fa-instagram {
  font-size: 2.5rem;
}
.footer-last-box {
  padding-top: 2rem;
}
.footer-last-box p {
  font-size: 1.6rem;
}

/* 풋터 끝 */

/* 반응형 768 */
@media (max-width: 768px) {
  html {
    font-size: 10px;
  }

  /* 헤더 시작 */

  .header {
    display: none;
  }
  .mobile-header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    background-color: #fff;
    z-index: 99999;
  }
  .mobile-header .top-bar {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }
  .sidebar-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Jalnan 2", sans-serif;
    opacity: 1;
    visibility: visible;
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    background-color: #fdfaf7;
    z-index: 99999;
    transition: all 0.4s;
    padding-left: 4rem;
    padding-right: 4rem;
    box-shadow: 4px 0 20px rgba(0, 0, 0, 0.15);
  }

  .sidebar-menu.active {
    right: 0;
  }

  .sidebar-menu-button {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30px;
    height: auto;
    cursor: pointer;
  }
  .sidebar-menu-button span {
    display: block;
    height: 3px;
    background-color: #ad7252;
  }

  .sidebar-menu-list-box {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 12rem;
  }

  .sidebar-menu-list > a {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    color: #ad7252;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #ad7252;
  }

  .sidebar-menu-list-1-sub {
    padding-top: 1.2rem;
    padding-left: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .sidebar-menu-list-1-sub li a {
    font-family: "pretendard", sans-serif;
    font-size: 1.8rem;
    color: #ad7252;
    font-weight: 700;
  }
  .sidebar-menu-list-1-sub li a:hover {
    font-weight: 800;
  }
  .sidebar-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
  }

  .sidebar-close span {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #ad7252;
    top: 50%;
    left: 0;
  }

  .sidebar-close span:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .sidebar-close span:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
  .sidebar-menu-list-1-sub {
    display: none;
  }
  .sidebar-menu .text-box {
    display: flex;
    font-family: "pretendard", sans-serif;
    gap: 1rem;
    font-weight: 600;
    font-size: 1.4rem;
    color: #ad7252;
    padding-bottom: 10rem;
  }

  /* 헤더 끝 */

  /* 섹션 3 시작 */
  .section-3 {
    padding: 0rem;
  }
  .section-3-box {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .section-3 .right-content {
    padding: 10rem 0;
  }
  .section-3 .left-content {
    width: 76.8rem;
    height: 72.4rem;
  }
  .section-3 .right-card-top {
    align-items: center;
    justify-content: center;
  }
  .section-3 .right-card-bottom {
    align-items: center;
    justify-content: center;
  }
  .section-3 .right-card {
    width: 33.4rem;
    height: 37.6rem;
  }
  .section-3 .right-card-1 {
    gap: 1rem;
    padding-left: 0;
    width: 33.4rem;
    height: 37.6rem;
    padding-left: 1rem;
  }
  .section-3 .right-card p {
    font-size: 1.6rem;
  }
  .section-3 .right-card-1 h2 {
    font-size: 3.4rem;
  }
  .section-3 .right-card-1 .right-card-1-text-1 {
    font-size: 1.6rem;
  }
  .section-3 .right-card-1 .right-card-1-text-2 {
    font-size: 1.2rem;
  }

  /* 섹션 3 끝 */

  /* 섹션 4 시작 */

  .section-4 {
    padding: 10rem 0;
  }
  .section-4 .sec-4-title {
    padding-bottom: 3rem;
  }
  .section-4 .sec-4-title h2 {
    font-size: 3.6rem;
  }
  .section-4 .event-switch {
    position: relative;
    height: 42rem;
    overflow: hidden;
  }

  .section-4 .event-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    opacity: 0;
    transform: translateY(2rem);
    transition: opacity 0.3s, transform 0.3s;
  }

  .section-4 .event-page.active {
    opacity: 1;
    transform: translateY(0);
    z-index: 2;
  }
  .section-4 img {
    width: 33.4rem;
    height: 39.2rem;
  }

  /* 섹션 4 끝 */

  /* 디바이더 1 시작 */
  .divider-1 .divider-1-back {
    top: 40%;
    width: 31.3rem;
    height: 31.3rem;
  }
  .divider-1 .marquee-top {
    gap: 0.4rem;
    padding-bottom: 0.5rem;
  }
  .divider-1 .marquee-top span {
    font-size: 3.6rem;
  }
  .divider-1 .marquee-bottom {
    gap: 0.4rem;
  }
  .divider-1 .marquee-bottom span {
    font-size: 3.6rem;
  }

  /* 디바이더 1 끝 */

  /* 디바이더 2 시작 */

  .divider-2 .divider-2-pc {
    display: none;
  }
  .divider-2 .divider-2-tablet {
    display: block;
  }

  /* 디바이더 2 끝 */

  /* 섹션 5 시작 */
  .section-5 {
    padding: 10rem 0;
  }
  .section-5 .sec-5-title {
    padding-bottom: 3rem;
  }
  .section-5 .sec-5-title h2 {
    font-size: 3.6rem;
  }
  .section-5 img {
    width: 21.6rem;
    height: 21.6rem;
  }

  /* 섹션 5 끝 */

  /* 디바이더 3 시작 */
  .divider-3 {
    gap: 1.2rem;
    padding: 10rem 0;
  }
  .divider-3 > h2 {
    font-size: 3.6rem;
  }
  .divider-3 > p {
    font-size: 1.9rem;
  }
  .divider-3 .back-1 {
    right: 14.4rem;
    bottom: 6.7rem;
    width: 19.8rem;
    height: 19.8rem;
  }
  .divider-3 .back-2 {
    right: 5.5rem;
    bottom: 14.1rem;
    width: 13.5rem;
    height: 13.5rem;
  }

  /* 디바이더 3 끝 */
}

/* 반응형 375 */

@media (max-width: 375px) {
  /* 섹션 3 시작 */
  .section-3 .left-content {
    width: 37.5rem;
    height: 35.4rem;
  }
  .section-3 .right-content.is-active {
    display: none;
  }
  .section-3 .right-swiper {
    width: 100%;
    overflow: visible;
  }
  .section-3 .mobile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4.8rem;
    padding-bottom: 6.4rem;
    overflow: hidden;
  }
  .section-3 .right-swiper-title-box {
    text-align: center;
    padding-bottom: 2rem;
  }
  .section-3 .right-swiper-title-box h2 {
    font-size: 2.2rem;
    color: var(--point-text-color);
    padding-bottom: 1rem;
  }
  .section-3 .right-swiper-title-box .right-swiper-title-text-1 {
    font-size: 1.3rem;
    padding-bottom: 1.5rem;
  }
  .section-3 .right-swiper-title-box .right-swiper-title-text-2 {
    color: #a5806c;
    font-size: 1rem;
  }

  .section-3 .right-swiper .swiper-wrapper {
    align-items: center;
  }
  .section-3 .right-swiper .swiper-slide {
    width: 19.5rem;
    flex-shrink: 0;
    text-align: center;
  }

  .section-3 .right-swiper img {
    width: 19.5rem;
    height: 18.5rem;
    border-radius: 1.8rem;
  }
  .section-3 .right-swiper p {
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .section-3 .right-swiper-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    padding-top: 2rem;
  }
  .section-3 .right-swiper-control img {
    width: 1rem;
    height: 1.7rem;
    cursor: pointer;
  }
  .section-3 .right-swiper-control span {
    font-size: 1rem;
    font-weight: 500;
    color: #a5806c;
  }
  /* 섹션 3 끝 */

  /* 섹션 4 시작 */

  .section-4 .event-switch {
    display: none;
  }

  .section-4 .event-swiper {
    display: block;
    padding: 0 1.6rem;
  }

  .section-4 .event-swiper .swiper-slide {
    width: fit-content;
    height: fit-content;
    transition: transform 0.3s;
  }

  .section-4 .event-swiper img {
    width: 16.3rem;
    height: 19.1rem;
    border-radius: 0.4rem;
    filter: blur(0.08rem);
  }
  .section-4 .event-swiper .swiper-slide-active img {
    filter: blur(0);
  }
  /* 섹션 4 끝 */
  /* 디바이더 1 시작 */

  .divider-1 .marquee-top span {
    font-size: 2.2rem;
  }
  .divider-1 .marquee-bottom span {
    font-size: 2.2rem;
  }
  .divider-1 .divider-1-back {
    width: 18.2rem;
    height: 18.2rem;
  }
  /* 디바이더 1 끝 */

  /* 디바이더 2 시작 */

  .divider-2 .divider-2-tablet {
    display: none;
  }
  .divider-2 .divider-2-mobile {
    display: block;
  }

  /* 디바이더 2 끝 */

  /* 섹션 5 시작 */
  .section-5 {
    padding: 6.4rem 0;
  }
  .section-5 .sec-5-title {
    padding-bottom: 1.6rem;
    font-size: 2.2rem;
  }
  .section-5 img {
    width: 14rem;
    height: 14rem;
  }

  /* 섹션 5 끝 */

  /* 디바이더 3 시작 */
  .divider-3 {
    gap: 0.7rem;
    padding: 6.4rem 0;
  }
  .divider-3 > h2 {
    font-size: 2rem;
  }
  .divider-3 > p {
    font-size: 1.1rem;
  }
  .divider-3 .back-1 {
    right: 5.9rem;
    bottom: 3.5rem;
    width: 12rem;
    height: 12rem;
  }
  .divider-3 .back-2 {
    right: 1.4rem;
    bottom: 8.6rem;
    width: 7.7rem;
    height: 7.7rem;
  }

  /* 디바이더 3 끝 */

  footer {
    padding: 3rem 2rem 4rem;
    border-radius: 4rem 4rem 0 0;
    gap: 2.4rem;
  }

  .footer-logo-box img {
    width: 140px;
    height: auto;
    margin: 0 auto;
  }

  .footer-text-box {
    text-align: center;
  }

  .footer-title-box {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .footer-middle-box {
    font-size: 1.1rem;
    gap: 0.8rem;
  }
  .icon-box {
    padding-top: 0.8rem;
  }

  .footer-last-box p {
    font-size: 1rem;
  }
}
