/* 노멀라이즈 시작 */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

/* 노멀라이즈 끝 */

/* 포인트로 줄 폰트 */
.point-font {
  font-family: "TmoneyRoundWind", sans-serif;
}

/* html 기본 설정 */
html {
  font-family: "pretendard", sans-serif;
  font-size: 62.5%;
}
body {
  background-color: #fdfaf7;
  color: #111111;
}
/* header 시작 */

main {
  height: 5000px;
}
header {
  width: 100%;
  height: 8rem;
  font-size: 1.8rem;
  position: fixed;
  top: 0;
  transition: all 0.2s;
  z-index: 9999;
  background-color: #fff;
}
.top-bar {
  box-sizing: border-box;
  padding: 0 12rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
#menu_bg {
  width: 100%;
  height: 20rem;
  position: absolute;
  z-index: 1;
  top: 8rem;
  background-color: #fff;
}
.top-bar > .menu {
  width: 55rem;
  height: 100%;
  z-index: 1;
}

.language-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: 1.6rem;
  border: 1px solid #a5806c;
  height: 4rem;
  width: 10.3rem;
}
.language-box a {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1rem;
  color: #a5806c;
}
.language-box a i {
  color: #a5806c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 2.4rem;
}
.top-bar nav > ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.top-bar > ul > li > a > span:hover {
  font-weight: 600;
}
.top-bar ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-bar nav > ul > li {
  height: 100%;
}

.top-bar ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: #8f6047;
  font-weight: 500;
}
.top-bar ul li a:hover {
  font-weight: 600;
}
.top-bar ul li ul {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 9rem;
  left: 50%;
  white-space: nowrap;
  background-color: #fff;
  transform: translateX(-50%);
  height: 18.6rem;
}
.top-bar ul li ul li a {
  display: block;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
}
/* .top-bar ul li:hover ul {
  opacity: 1;
  pointer-events: auto;
} */

/* header 끝 */

/* 서브 시작 */

.sub-section {
  margin: 0 12rem;
}
.sub-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 13rem 0;
}
.sub-title > h2 {
  font-weight: 800;
  font-size: 7.5rem;
  color: #ad7252;
}
.sub-title > p {
  font-weight: 500;
  font-size: 2.8rem;
}
/* .sub-full-box {
  background-color: #f6f1e9;
} */
.sub-first-box {
  display: flex;
  justify-content: center;
  gap: 6.5rem;
}
.sub-left-box {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.sub-left-box-list .text-img-box {
  display: flex;
  gap: 1.5rem;
  padding-left: 2rem;
}
.sub-left-box img {
  width: 3.4rem;
  height: 1.8rem;
}
.sub-left-box-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sub-left-box-list h2 {
  font-weight: 500;
  font-size: 2rem;
}
.sub-right-box {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.sub-right-box-list .text-img-box {
  display: flex;
  gap: 1.5rem;
  padding-left: 2rem;
}
.sub-right-box img {
  width: 3.4rem;
  height: 1.8rem;
}
.sub-right-box-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sub-right-box-list h2 {
  font-weight: 500;
  font-size: 2rem;
}
form .sub-text-1 {
  background-color: #fff;
  border-radius: 10rem;
  width: 66.5rem;
  height: 6rem;
  padding: 0 2rem;
  border: 0;
}
form .sub-text-2 {
  border-radius: 10rem;
  width: 2.8rem;
  height: 2.8rem;
}
form .textarea-1 {
  border-radius: 2.5rem;
  padding: 2rem;
  border: 0;
}
.sub-last-box {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.sub-last-box .last-box-title {
  font-size: 2rem;
  font-weight: 500;
}
.last-box-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
.last-box-button > h2 {
  font-size: 2rem;
  font-weight: 500;
}
form .textarea-2 {
  border-radius: 2.5rem;
  padding: 3rem 4rem;
  border: 0;
}
.sub-button-box {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-button-box > .sub-button {
  position: relative;
}
.sub-button span {
  font-size: 2rem;
  font-weight: 500;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#BEF,
#BEO,
#BES,
#PIT,
#PIF,
#PH,
#ME,
#MA {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1.3rem;
}
input[type="radio"] {
  width: 2.8rem;
  height: 2.8rem;
}
.sub-right-box-list-4 .be-box,
.sub-left-box-list-4 .ph-box {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding-left: 2rem;
}
.sub-right-box-list-4 span,
.sub-left-box-list-4 span,
.sub-last-box span {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}
.last-text-box {
  background-color: #fff;
  padding: 3rem 4rem;
  border-radius: 2.5rem;
}
.last-text-box > h2 {
  font-size: 1.6rem;
  font-weight: 500;
}
.last-text-box li span {
  display: inline;
}

.last-text-box ol,
.last-text-box ul,
.last-text-box li {
  list-style: revert;
  font-size: 1.6rem;
}

.last-text-box ul {
  padding-bottom: 2rem;
}
/* 서브 끝 */
footer {
  border-radius: 10rem 10rem 0 0;
  background-color: #8f6047;
  display: flex;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-middle-box {
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
