/* 프리텐다드 폰트  */

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}

/* 잘난체 폰트 */
@font-face {
  font-family: "YeogiOttaeJalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
/* 노멀라이즈 시작 */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

/* 노멀라이즈 끝 */

/* 포인트로 줄 폰트 */
.point-font {
  font-family: "YeogiOttaeJalnan", sans-serif;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}
/* html 기본 설정 */
html {
  font-family: "pretendard", sans-serif;
  font-size: 62.5%;
}
body {
  background-color: #fdfaf7;
  color: #111111;
}
/* header 시작 */
.mobile-header {
  display: none;
}
.dim-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99998;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.dim-overlay.active {
  opacity: 1;
  visibility: visible;
}

.header {
  width: 100%;
  height: 8rem;
  font-size: 1.8rem;
  position: fixed;
  top: 0;
  transition: all 0.2s;
  z-index: 9999;
  background-color: #fff;
}
.top-bar {
  box-sizing: border-box;
  padding: 0 12rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
#menu_bg {
  width: 100%;
  height: 20rem;
  position: absolute;
  z-index: 1;
  top: 8rem;
  background-color: #fff;
}
.top-bar > .menu {
  width: 55rem;
  height: 100%;
  z-index: 1;
}

.language-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: 1.6rem;
  border: 1px solid #ad7252;
  height: 4rem;
  width: 10.3rem;
}
.language-box a {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1rem;
  color: #ad7252;
}
.top-bar nav > ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.top-bar ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-bar nav > ul > li {
  height: 100%;
}

.top-bar ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: #ad7252;
  font-weight: 500;
}
.top-bar ul li ul {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 9rem;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  height: 18.6rem;
}
.top-bar ul li ul li a {
  display: block;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
}
.sidebar-menu {
  opacity: 0;
  visibility: hidden;
}
/* header 끝 */

/* 서브 시작 */

.sub-section {
  padding-bottom: 20rem;
  width: 100%;
  max-width: 168rem;
  margin: 0 auto;
}

.sub-full-box {
  border-radius: 3rem;
  padding: 10rem 14.2rem;
  background-color: #f6f1e9;
  max-width: 139.5rem;
  margin: 0 auto;
}

.sub-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 13rem 0 6rem 0;
}
.sub-title > h2 {
  font-weight: 800;
  font-size: 7.5rem;
  color: #ad7252;
}
.sub-title > .sub-title-text-1 {
  font-weight: 500;
  font-size: 2.8rem;
}
.sub-title > .sub-title-text-2 {
  font-weight: 500;
  font-size: 1.4rem;
  color: #a5806c;
  padding-top: 1.6rem;
}
/* .sub-full-box {
  background-color: #f6f1e9;
} */
.sub-first-box {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 6.5rem;
}
.sub-left-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.sub-left-box-list .text-img-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 2rem;
}
.sub-left-box img {
  width: 3.4rem;
  height: 1.8rem;
}
.sub-left-box-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sub-left-box-list h2 {
  font-weight: 600;
  font-size: 2rem;
}
.sub-right-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.sub-right-box-list .text-img-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 2rem;
}
.sub-right-box img {
  width: 3.4rem;
  height: 1.8rem;
}
.sub-right-box-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sub-right-box-list h2 {
  font-weight: 600;
  font-size: 2rem;
}
form .sub-text-1 {
  background-color: #fff;
  border-radius: 10rem;
  height: 6rem;
  padding: 0 2rem;
  border: 0;
}
form .sub-text-2 {
  border-radius: 10rem;
  width: 2.8rem;
  height: 2.8rem;
}
form .textarea-1 {
  border-radius: 2.5rem;
  padding: 2rem;
  border: 0;
}
form .textarea-1::placeholder {
  font-family: "pretendard", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #a5a5a5;
}
.sub-last-box {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.sub-last-box .plus-button {
  display: none;
  width: 100%;
  height: 4rem;
  background-color: #fdfaf7;
  color: #ad7252;
  border-radius: 1.2rem;
  text-align: center;
  line-height: 4rem;
  font-family: "Pretendard", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 1rem;
  cursor: pointer;
}
.sub-last-box .last-box-title {
  padding-left: 2rem;
  font-size: 2rem;
  font-weight: 600;
}
.last-box-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
.last-box-button > h2 {
  font-size: 2rem;
  font-weight: 500;
}
form .textarea-2 {
  border-radius: 2.5rem;
  padding: 3rem 4rem;
  border: 0;
}
.sub-button-box {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-button-box > .sub-button {
  position: relative;
}
.sub-button span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 2rem;
  font-weight: 500;
  transition: all 0.3s;
}
.sub-button:hover span {
  color: #f4ede4;
}
.sub-button-box .hover-img {
  opacity: 0;
  position: absolute;
  top: -10px;
  left: 1px;
  transform: scaleY(0.4);
  transition: transform 0.3s, opacity 0.2s 0.1s;
  transform-origin: top;
}
.sub-button:hover .hover-img {
  opacity: 1;
  transform: scaleY(1);
  transition: transform 0.3s;
}
#BEF,
#BEO,
#BES,
#PIT,
#PIF,
#PH,
#ME,
#MA {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1.3rem;
}
input[type="radio"] {
  width: 2.4rem;
  height: 2.4rem;
  appearance: none;
  border-radius: 100%;
  box-sizing: border-box;
  border: 1px solid gray;
  background-color: #fff;
  cursor: pointer;
}
[type="radio"]:checked {
  border: 0.8rem solid #a24c3b;
}

.sub-text-1::placeholder {
  font-family: "pretendard", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #a5a5a5;
}
.sub-right-box-list-4 .be-box,
.sub-left-box-list-4 .ph-box {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding-left: 2rem;
}
.sub-right-box-list-4 span,
.sub-left-box-list-4 span,
.sub-last-box span {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}
.last-text-box {
  color: #969696;
  background-color: #fff;
  padding: 3rem 4rem;
  border-radius: 2.5rem;
}
.last-text-box > h2 {
  font-size: 1.4rem;
  font-weight: 500;
}
.last-text-box > ol > li > ul {
  padding-left: 3rem;
}
.last-text-box li span {
  line-height: 2.3rem;
  display: inline;
}

.last-text-box ol,
.last-text-box ul,
.last-text-box li {
  list-style: revert;
  font-size: 1.4rem;
}

.last-text-box ul {
  padding-bottom: 2rem;
}
/* 서브 끝 */

/* 풋터 시작 */
footer {
  color: #f2ebe1;
  border-radius: 10rem 10rem 0 0;
  background-color: #8f6047;
  display: flex;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;
}
.footer-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-title-box {
  padding-bottom: 1.6rem;
}
.footer-title-box p {
  font-size: 2rem;
  font-weight: 600;
}
.footer-middle-box {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.6rem;
}
.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 1.6rem;
}
.icon-box .fa-kakao-talk {
  font-size: 2rem;
}
.icon-box .fa-instagram {
  font-size: 2.5rem;
}
.footer-last-box {
  padding-top: 2rem;
}
.footer-last-box p {
  font-size: 1.6rem;
}
/* 768 반응형 */

@media (max-width: 768px) {
  html {
    font-size: 10px;
  }

  .header {
    display: none;
  }
  .mobile-header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    background-color: #fff;
    z-index: 99999;
  }
  .mobile-header .top-bar {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }
  .sidebar-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Jalnan 2", sans-serif;
    opacity: 1;
    visibility: visible;
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    background-color: #fdfaf7;
    z-index: 99999;
    transition: all 0.4s;
    padding-left: 4rem;
    padding-right: 4rem;
    box-shadow: 4px 0 20px rgba(0, 0, 0, 0.15);
  }

  .sidebar-menu.active {
    right: 0;
  }

  .sidebar-menu-button {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30px;
    height: auto;
    cursor: pointer;
  }
  .sidebar-menu-button span {
    display: block;
    height: 3px;
    background-color: #ad7252;
  }

  .sidebar-menu-list-box {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 12rem;
  }

  .sidebar-menu-list > a {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    color: #ad7252;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #ad7252;
  }

  .sidebar-menu-list-1-sub {
    padding-top: 1.2rem;
    padding-left: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .sidebar-menu-list-1-sub li a {
    font-family: "pretendard", sans-serif;
    font-size: 1.8rem;
    color: #ad7252;
    font-weight: 700;
  }
  .sidebar-menu-list-1-sub li a:hover {
    font-weight: 800;
  }
  .sidebar-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
  }

  .sidebar-close span {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #ad7252;
    top: 50%;
    left: 0;
  }

  .sidebar-close span:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .sidebar-close span:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
  .sidebar-menu-list-1-sub {
    display: none;
  }
  .sidebar-menu .text-box {
    display: flex;
    font-family: "pretendard", sans-serif;
    gap: 1rem;
    font-weight: 600;
    font-size: 1.4rem;
    color: #ad7252;
    padding-bottom: 10rem;
  }
  .sub-first-box {
    flex-direction: column;
    gap: 4rem;
  }

  .sub-left-box,
  .sub-right-box {
    width: 100%;
    gap: 4rem;
  }

  .text-img-box h2 {
    font-size: 18px;
  }
  .sub-left-box img {
    width: 34px;
    height: 18px;
  }
  .sub-left-box-list {
    gap: 10px;
  }

  form .sub-text-1 {
    display: block;
    font-size: 14px;
    height: 60px;
  }
  textarea.textarea-1 {
    font-size: 14px;
  }

  /* ----- 라디오 버튼 ----- */
  input[type="radio"] {
    width: 20px;
    height: 20px;
  }
  [type="radio"]:checked {
    border: 7px solid #a24c3b;
  }
  .ph-box,
  .be-box {
    gap: 20px;
  }

  .last-text-box {
    padding: 20px;
    border-radius: 16px;
  }
  .last-text-box > h2 {
    font-size: 14px;
  }
  .last-text-box ol,
  .last-text-box ul,
  .last-text-box li {
    font-size: 14px;
    line-height: 22px;
  }

  .last-text-box > ol > li > ul {
    padding-left: 16px;
  }

  .last-box-button {
    justify-content: center;
    gap: 14px;
    flex-wrap: wrap;
  }
  .last-box-button h2 {
    text-align: center;
    width: 100%;
    font-size: 16px;
  }

  .sub-button span {
    font-size: 16px;
  }
  .sub-full-box {
    padding: 24px;
  }
}

/* 반응형 768 끝 */

/* 반응형 375 시작 */

@media (max-width: 375px) {
  .sub-title {
    padding: 10rem 0;
  }
  .sub-title > h2 {
    font-weight: 800;
    font-size: 4.5rem;
  }
  .sub-title > p {
    font-weight: 500;
    font-size: 2rem;
  }
  #BEF,
  #BEO,
  #BES,
  #PIT,
  #PIF,
  #PH,
  #ME,
  #MA {
    gap: 1rem;
  }
  .sub-right-box-list-4 .be-box,
  .sub-left-box-list-4 .ph-box {
    gap: 1.2rem;
  }
  form .sub-text-1 {
    height: 50px;
  }
  .last-text-box {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .sub-last-box > .last-text-box > ol {
    display: none;
  }
  .sub-last-box > .last-text-box > ol.active {
    display: block;
  }
  .sub-last-box .plus-button {
    display: block;
  }
  footer {
    padding: 3rem 2rem 4rem;
    border-radius: 4rem 4rem 0 0;
    gap: 2.4rem;
  }

  .footer-logo-box img {
    width: 140px;
    height: auto;
    margin: 0 auto;
  }

  .footer-text-box {
    text-align: center;
  }

  .footer-title-box {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .footer-middle-box {
    font-size: 1.1rem;
    gap: 0.8rem;
  }
  .icon-box {
    padding-top: 0.8rem;
  }

  .footer-last-box p {
    font-size: 1rem;
  }
}
