@font-face {
  font-family: "YeogiOttaeJalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

/* -------------------- 노말라이즈 -------------------- */
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* -------------------- body 컬러 -------------------- */
body {
  background-color: #fdfaf7;
}

.sub_page_bakery {
  position: relative;
}
/* 포인트로 줄 폰트 */
.point-font {
  font-family: "YeogiOttaeJalnan", sans-serif;
}
/* html 기본 설정 */
html {
  font-family: "pretendard", sans-serif;
  font-size: max(0.52083333vw, 10px);
  overflow-x: hidden;
}
/* header 시작 */
.mobile-header {
  display: none;
}
.dim-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99998;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.dim-overlay.active {
  opacity: 1;
  visibility: visible;
}

.header {
  width: 100%;
  height: max-content;
  font-size: 1.8rem;
  position: fixed;
  top: 0;
  transition: all 0.2s;
  z-index: 9999;
  background-color: #fff;
}
.header .promo-banner {
  width: 100%;
  height: 4rem;
  background-color: #ad7252;
  overflow: hidden;
}

.header .promo-text {
  position: relative;
  height: 100%;
}

.header .promo-text span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
  font-family: "pretendard", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: #f4ede4;
}

.header .promo-text span.active {
  opacity: 1;
}
.top-bar {
  width: 100%;
  box-sizing: border-box;
  padding: 0 12rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
#menu_bg {
  width: 100%;
  height: 20rem;
  position: absolute;
  z-index: 1;
  top: 8rem;
  background-color: #fff;
}
.top-bar > .menu {
  width: 55rem;
  height: 100%;
  z-index: 1;
}

.language-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: 1.6rem;
  border: 1px solid #ad7252;
  height: 4rem;
  width: 10.3rem;
}
.language-box a {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1rem;
  color: #ad7252;
}
.top-bar nav > ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.top-bar ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-bar nav > ul > li {
  height: 100%;
}

.top-bar ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: #ac753e;
  font-weight: 500;
}
.top-bar ul li ul {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 9rem;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  height: 18.6rem;
}
.top-bar ul li ul li a {
  display: block;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.6;
}
.top-bar ul li ul li a:hover {
  opacity: 1;
}
.sidebar-menu {
  display: none;
  opacity: 0;
  visibility: hidden;
}
/* header 끝 */

/* -------------------- 타이틀 -------------------- */
.sub_page_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 130px;
  padding-bottom: 130px;
}

.sub_page_title {
  color: #ad7252;
  font-size: 75px;
  font-weight: 400;
  font-family: "YeogiOttaeJalnan";
}

.sub_page_desc {
  color: #111111;
  font-size: 28px;
  font-weight: 500;
  font-family: "Pretendard";
}

/* -------------------- 탭메뉴 -------------------- */
.tab_menu {
  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.tab_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f1e9;
  z-index: 1000;
  padding: 2rem 4rem 0 4rem;
  border-radius: 7rem;
}

.tab_list-1,
.tab_list-2,
.tab_list-3 {
  color: #111111;
  font-size: 24px;
  font-weight: 500;
  font-family: "Pretendard";
  padding: 8px 29px 8px 29px;
}

.tab_btn li {
  position: relative;
}

.tab_btn li a {
  display: inline-block;
  padding: 8px 29px;
  font-size: 24px;
  font-weight: 500;
  font-family: "YeogiOttaeJalnan";
  color: #111;
  position: relative;
  z-index: 2;
  text-align: center;
}

.tab_btn li::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 141px;
  height: 68px;
  background-position: center;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.tab_btn li.active::before {
  background-image: url("img/sub-2/tap\ button\ bread.svg");
  opacity: 1;
}

.tab_btn li.active a {
  color: #f4ede4;
  font-weight: 500;
  font-family: "YeogiOttaeJalnan";
}

/* -------------------- 제품시작 -------------------- */
.product_container {
  background-color: #f6f1e9;
  border-radius: 30px;
  padding: 100px 120px 210px 120px;
  margin-top: -40px;
}

/* -------------------- 제품카드 공통 -------------------- */
.product_desc {
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  padding-top: 24px;
  font-family: "Pretendard";
}

.product_name {
  color: #111111;
  font-size: 20px;
  font-weight: 500;
  padding-top: 8px;
  font-family: "Pretendard";
}

.product_price {
  color: #111111;
  font-size: 24px;
  font-weight: 600;
  padding-top: 16px;
  font-family: "Pretendard";
}

/* -------------------- 음료 제품카드 -------------------- */
.beverage_product_card {
  text-align: center;
}

.beverage_product_card img {
  max-width: 100%;
}

.beverage_product_img_wrap {
  background-color: #ffffff;
  border-radius: 40px;
}

.beverage_product_img_wrap img {
  transition: transform 0.5s ease;
}

/* -------------------- 음료 제품카드 hover -------------------- */
.beverage_product_card:hover .beverage_product_img_wrap img {
  transform: scale(1.05); /* hover 이미지 커지는 크기 */
}

/* -------------------- 베이커리 제품카드 -------------------- */
.prod_wrap {
  gap: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  display: none;
  row-gap: 60px;
}

.prod_wrap.active {
  display: grid;
}

.bakery_product_card {
  text-align: center;
}

.bakery_product_card img {
  max-width: 100%;
}

.bakery_product_img_wrap {
  background-color: #ffffff;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}

.bakery_product_img_wrap img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 24px;
  transition: opacity 0.3s ease, transform 0.5s ease;
}

.bakery_product_img_wrap img:nth-child(2) {
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  opacity: 0;
}

/* -------------------- 베이커리 제품카드 hover -------------------- */
.bakery_product_card:hover .bakery_product_img_wrap img:nth-child(1) {
  opacity: 0;
  transform: scale(1);
}

.bakery_product_card:hover .bakery_product_img_wrap img:nth-child(2) {
  opacity: 1;
  transform: scale(1.05); /* hover 이미지 커지는 크기 */
}

/* -------------------- 굿즈 제품카드 -------------------- */
.goods_product_card_wrap {
  gap: 24px;
}

.goods_product_card {
  text-align: center;
}

.goods_product_card img {
  max-width: 100%;
}

.goods_product_img_wrap {
  background-color: #ffffff;
  border-radius: 40px;
}

.goods_product_img_wrap img {
  transition: transform 0.5s ease;
}

/* -------------------- 굿즈 제품카드 hover -------------------- */
.goods_product_card:hover .goods_product_img_wrap img {
  transform: scale(1.05); /* hover 이미지 커지는 크기 */
}
/* 풋터 시작 */
footer {
  color: #f2ebe1;
  border-radius: 10rem 10rem 0 0;
  background-color: #8f6047;
  display: flex;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;
}
.footer-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-title-box {
  padding-bottom: 1.6rem;
}
.footer-title-box p {
  font-size: 2rem;
  font-weight: 600;
}
.footer-middle-box {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.6rem;
}
.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 1.6rem;
}
.icon-box .fa-kakao-talk {
  font-size: 2rem;
}
.icon-box .fa-instagram {
  font-size: 2.5rem;
}
.footer-last-box {
  padding-top: 2rem;
}
.footer-last-box p {
  font-size: 1.6rem;
}

/* 풋터 끝 */
